:root {
  --bckd: #e4e4e4da ;
  --casecolor: #f7f7f7;
  --wall:white;
  --player1: #4a60ff;
  --player2: #e55650;
  --size: 3vw;
  --pawnSize: calc(var(--size) * 0.666);
  --radius: 0.5vw;
}

/* changer radius en vw + titre */

html,
body {
  margin: 0;
  /* padding: 100; */
  height: 100%;
  /* display: block; */
  /* align-items: center;
  justify-content: center; */
  overflow:hidden;
  width: 100%;
  font-family: filicudi-solid, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  background-color: var(--bckd);
}

body {
  display: flex;
  flex-direction: column;
}

header{
  position: absolute;
  width:100%;
  display:bloc;
  align-items: center;
}

.hiddenwinp1{
  color: var(--player1) !important;
}
.hiddenwinp2{
  color: var(--player2)!important;
}
/* .startPage{
  width: 100%;
  height: 100%;
  background-color: red;
  position: fixed;
  z-index: 998;
} */

.imglogo{
  position:absolute;
max-width:400px;
top: 5vh;
    left: 50%;
    transform: translate(-50%, 50%);
}
#startButtonC {
  position: fixed;

  background-color: black;
  color: white;
  border: 0;
  top: 80%;
  left: 35%;
  z-index: 999;
  font-size: 40px;
  cursor: pointer;
  font-family: filicudi-solid, sans-serif;

}
#startButtonR {
  position: fixed;

  background-color: black;
  color: white;
  border: 0;
  top: 80%;
  left: 55%;
  z-index: 999;
  font-size: 40px;
  cursor: pointer;
  font-family: filicudi-solid, sans-serif;

}

#startButtonC:hover {
opacity: 0.5;
transition: 0.3s;
}

.game{
  display: flex;
  flex: 1 1 auto;
  /* position: absolute; */
  /* left:0; */
  /* top:0; */
  justify-content: center;
  align-items: center;
  width: 100%;
  /* height:100%; */
}

.controls {
  /* flex: 1 0 auto; */
  padding: calc(var(--size) / 2);
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: 7%;
  display: flex;
}

.resultV{
  width:100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 3em;
}

.buttons{
  display: flex;
  position: absolute;
  left:0;
  top:0;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.horizontalButton{
  width: var(--size);
  height: var(--size);
  background-color: var(--casecolor);
  border-radius: var(--radius);
  box-shadow: inset 0 0 0 0.1em var(--bckd);
  align-items: center;
  text-align: center;


}
.verticalButton{ width: var(--size);
  height: var(--size);
  background-color: var(--casecolor);
  border-radius: var(--radius);
  box-shadow: inset 0 0 0 0.1em var(--bckd);
  transition: all 1s;
  text-align: center;


}
.resultD{
  width:100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 3em;
}

.titre{
  color: var(--casecolor);
  width:100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 5em;
}


#power {

  z-index: 100;
  height: calc(var(--n-rows) * var(--size));
  width: var(--size);
}



.powerElem{
  background-color: white !important;
}

#gridContainer {
  position: relative;
  margin:var(--size);
  height: calc(var(--n-rows) * var(--size));
  width: calc(var(--n-cols) * var(--size));
}

.powerElement {
  background-color: var(--casecolor);
  /* border-radius: 0.6em; */
  /* box-shadow: inset 0 0 0 0.1em var(--bckd); */
  transition: all 1s;
}

.powerpos {
  /* position: absolute; */
  --row: 0;
  --col: 0;
  width: var(--size);
  height: var(--size);
  top: calc(var(--size) * var(--row));
  left: calc(var(--size) * var(--col));
}

#direction {

  height: calc(var(--n-rows) * var(--size));
  width: calc(var(--n-col) * var(--size));
}
.directionElement {
  background-color: var(--casecolor);
  /* border-radius: var(--radius); */
  /* box-shadow: inset 0 0 0 0.1em var(--bckd); */
  transition: all 1s;
  align-content: center;
}

.dirElem0catcher{
  background-color: var(--player1) !important;
  border-radius: var(--radius) var(--radius) 0 0!important;
}

.dirElem0runner{
  background-color: var(--player2) !important;
  border-radius: var(--radius) var(--radius) 0 0!important;
}

.dirElem8catcher{
 
  border-radius: 0 0 var(--radius) var(--radius) !important;
}

.dirElem8runner{
 
  border-radius: 0 0 var(--radius) var(--radius) !important;
}

.fleche{
  /* width: 80%;
  height: 80%;
  position: relative; */
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: scale-down;
}

.first{
background-color: black;
}
.directionpos {
  /* position: absolute; */
  --row: 0;
  --col: 0;
  width: var(--size);
  height: var(--size);
  top: calc(var(--size) * var(--row));
  left: calc(var(--size) * var(--col));
}

/* GRID */
.position {
  position: absolute;

  --row: 0;
  --col: 0;

  width: var(--size);
  height: var(--size);

  top: calc(var(--size) * var(--row));
  left: calc(var(--size) * var(--col));
}

.gridElement {
  background-color: var(--casecolor);
  border-radius: var(--radius);
  box-shadow: inset 0 0 0 0.1em var(--bckd);
  transition: all 1s;
}

.wall {
  background-color: var(--wall);

  z-index: 1000;
  box-shadow: inset 0 0 0 0.1em var(--bckd), 0 0.2em 1em 0.1em rgba(0, 0, 0, 0.8);
  /* background-color: var(--color1); */
}

.player {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.player .navigation-system {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  /* background: red; */
}

/* .player:hover .navigation-system {
    opacity: 1;
    
} */

.navigation-arrow {
  position: absolute;
  width: calc(var(--size)*0.7);
  height: calc(var(--size)*0.7);

  /* top: calc(var(--size) * var(--row));
  left: calc(var(--size) * var(--col)); */
  transform: translate(-120%, -120%);
  background: var(--player1);
  border-radius: 50%;
  /* box-shadow: inset 0 0 0 0.3em #25242d; */
  transition: background-color 0.1s;
  opacity: 0.07;
}

.navigation-arrow2 {
  background: var(--player2);
}
.up {
  top: 0;
  left: var(--size);
}
.down {
  top: calc(2 * var(--size));
  left: var(--size);
}
.left {
  top: var(--size);
  left: 0;
}
.right {
  top: var(--size);
  left: calc(2 * var(--size));
}

/* .player1 {
  --color: #4a60ff;
} */

.player .draw {
  width: 66%;
  height: 66%;
  border-radius: 50%;
  background-color: var(--player1);
  pointer-events: none;
}

.player2 .draw{
  background-color: var(--player2);

}


.hidden {
  display: none;
}


.infos{
  z-index: 998;
  position:fixed;
  top:0;
  left:0;
  width: 20px;
  margin: 15px;
  /* filter:invert(1); */
}
.infomenu{
  z-index: 999;
  position:fixed;
  top:0;
  left:0;
  width: 50px;
  margin: 15px;
  background: var(--bckd);
  height:50px;
  transition: 0.5s ease;
  opacity: 0;


}

.infomenuok{
  opacity: 100%;
  position:fixed;
  top:0;
  right:0;
  width: 80vw;
  margin: 0; 

 height:100vh;
} 
.texteinfos{
  width:50%;
  height:80%;
  margin:10%;
  color:rgb(92, 89, 89);
  font-size: 1.5vw;

}

.logo{
  z-index: 998;
  position:center;
  top:0;
  left:0;
  width: 100px;
  margin: 15px;
}

.closeInfos{
  z-index: 100000;
}

.yourturn{
  display: flex;
  position:relative;
  justify-content: center;
  align-items: center;
}

.restart{
  position: absolute;
  background-color: #ffffff00;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width:36vw;
  height:36vw;
  z-index: 101;
}

.restart span{
  font-size: 2em;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}